<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="type === InputType.SELECT_SINGLE || type === InputType.SELECT_MULTIPLE">
    <ngxp-select2-impl
      [validationStatus]="validationStatus"
      [placeholder]="placeholder"
      [formControlName]="formControlName"
      [type]="type"
      [value]="value"
      [class]="class"
      [classAppend]="classAppend"
      [data]="select2Data">
    </ngxp-select2-impl>
  </ng-container>

  <ng-container *ngSwitchCase="type === InputType.INPUT_TEXTAREA">
    <ngxp-textarea-impl 
      [class]="class"
      [classAppend]="classAppend"
      [validationStatus]="validationStatus"
      [placeholder]="placeholder"
      [formControlName]="formControlName">
    </ngxp-textarea-impl>
  </ng-container>

  <ng-container *ngSwitchCase="type === InputType.INPUT_CHECKBOX">
    <ngxp-checkbox-impl
      [class]="class"
      [classAppend]="classAppend"
      [formControlName]="formControlName"
      [validationStatus]="validationStatus">
    </ngxp-checkbox-impl>
  </ng-container>

  <ng-container *ngSwitchCase="type === InputType.INPUT_HIDDEN">
    <ngxp-hidden-impl [formControlName]="formControlName"></ngxp-hidden-impl>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <ngxp-default-impl
      [class]="class"
      [classAppend]="classAppend"
      [placeholder]="placeholder"
      [validationStatus]="validationStatus"
      [formControlName]="formControlName"
      [type]="type">
    </ngxp-default-impl>
  </ng-container>
</ng-container>

