<ng-container [ngSwitch]="displayConfig.inputType">
  <ng-container *ngSwitchCase="InputType.SELECT">
    <ngxp-select2-impl
      [validationStatus]="validationStatus"
      [displayConfig]="displayConfig"
      [value]="value"
      [class]="class"
      [classAppend]="classAppend">
    </ngxp-select2-impl>
  </ng-container>

  <ng-container *ngSwitchCase="InputType.INPUT_TEXTAREA">
    <ngxp-textarea-impl 
      [class]="class"
      [value]="value"
      [classAppend]="classAppend"
      [validationStatus]="validationStatus"
      [displayConfig]="displayConfig">
    </ngxp-textarea-impl>
  </ng-container>

  <ng-container *ngSwitchCase="InputType.INPUT_CHECKBOX">
    <ngxp-checkbox-impl
      [class]="class"
      [value]="value"
      [classAppend]="classAppend"
      [displayConfig]="displayConfig"
      [validationStatus]="validationStatus">
    </ngxp-checkbox-impl>
  </ng-container>

  <ng-container *ngSwitchCase="InputType.INPUT_HIDDEN">
    <ngxp-hidden-impl [displayConfig]="displayConfig" [value]="value"></ngxp-hidden-impl>
  </ng-container>

  <ng-container *ngSwitchCase="InputType.INPUT_COLOR">
    <ngxp-color-impl [displayConfig]="displayConfig" [value]="value"></ngxp-color-impl>
  </ng-container>

  <ng-container *ngSwitchCase="InputType.INPUT_RANGE">
    <ngxp-range-impl [displayConfig]="displayConfig" [value]="value" [validationStatus]="validationStatus"></ngxp-range-impl>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <ngxp-default-impl
      [class]="class"
      [classAppend]="classAppend"
      [displayConfig]="displayConfig"
      [validationStatus]="validationStatus"
      [value]="value">
    </ngxp-default-impl>
  </ng-container>
</ng-container>

