<ng-container *ngIf="form">
  <form class="dt-form" (submit)="onSubmit($event)" [formGroup]="form" (reset)="onResetClick()">
    <div class="card shadow">
      <div *ngIf="!!formTitle" class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="header-title color-primary">{{ formTitle }}</h6>
      </div>
      <div class="card-body py-2">
        <ng-container *ngFor="let displayConfig of form.formControlWrapper.displayConfigs">
          <rib-base-form-input-row
            [displayConfig]="displayConfig"
            [validationStatus]="calculateValidationStatus(validationStatus, displayConfig.formControlName)"
            [errorMessages]="getErrorMessages(displayConfig)"
            [value]="form.get(displayConfig.formControlName)?.value"
            [form]="form">
          </rib-base-form-input-row>
        </ng-container>
      </div>
      <div class="footer-btns-container">
        <button class="btn btn-secondary footer-btn-reset" type="reset">
          <i class="fa glyphicon fa-backspace"></i>Reset
        </button>
        <button class="btn btn-success footer-btn-submit" type="submit">
          <i class="fa glyphicon fa-circled-checkmark"></i>Submit
        </button>
      </div>
    </div>
  </form>
</ng-container>