* {
  font-family: monospace;
}

table .dt-color {
  margin: 0 auto;
}

thead tr th,
tbody tr td {
  vertical-align: middle;
  text-align: center;
}

.time,
.color {
  max-width: 75px; 
}

.th-text,
.td-text {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-btns-container-column .nav-btns-wrapper {
  flex-wrap: wrap;
}

.nav-btns-wrapper {
  display: flex !important;
  column-gap: 2px; 
  max-width: 100%; 
  flex: 1; 
  justify-content: flex-end
}

.btn-nav {
  background-color: white !important;
  border: none !important;
}

.number {
  white-space: nowrap;
}

.no-data {
  font-weight: 500;
  color: #ab9e9e;
}

.more-btns-wrapper:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid lightgrey;
  position: absolute;
  top: 14px;
  left: -6px;
}

.select-wrapper {
  min-height: 0 !important
}

.pagination-wrapper input[type="number"] {
  width: 74px;
}

.row-btns-container {
  justify-content: space-between;
}

.row-btns-container input[type="text"] {
  max-width: 200px;
  margin: 0 auto;
}

.row-btns-container .input-icon {
  width: 38px;
  height: 38px;
  position: absolute;
  right: -4px;
  top: -3px;
  padding: 12px;
}

.row-btns-container input[type="text"],
.pagination-wrapper input[type="number"],
.row-btns-container .input-group-text,
.pagination-wrapper .input-group-text {
  height: 33px;
}

.dt-color-wrapper {
  display: flex;
}

table .dt-color-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.entry-details .dt-color-wrapper {
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 4px;
}

.entry-details .dt-color-hex {
  padding-top: 0.25rem;
}

.entry-details .dt-datetime-wrapper {
  column-gap: 10px;
  flex-direction: row;
}

table .dt-datetime-wrapper {
  flex-direction: column;
}

.save-btn {
  max-width: 100px; 
  margin: 0 auto;
}

.limit-container {
  flex-wrap: nowrap !important;
  flex: 1 1 auto;
  justify-content: flex-start;
  width: auto 
}

.actions-wrapper-row .limit-container {
  width: auto !important;
}

.actions-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  &-row {
    flex-wrap: nowrap;
  }
}

.search-container {
  display: flex;
  row-gap: 8px; 
  flex-wrap: wrap;
  column-gap: 4px
}

.actions-wrapper-column .search-container,
.actions-wrapper-column .limit-container {
  width: 100%
}

.btn-create {
  z-index: 1; 
  column-gap: 4px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.btn-save-expand {
  margin: 0;
  max-width: 100%;
}

.row-btns-container-column {
  flex-direction: column;
  flex-wrap: wrap;
}

.row-btns-container-column > *:nth-child(1),
.row-btns-container-column > *:nth-child(2) {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.row-btns-container-row {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sorting {
  position: relative;
  padding-right: 15px !important;
  user-select: none;
  cursor: pointer
}

.sorting::after,
.sorting::before {
  border-color: #DDDDDD;
}

.sorting::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top-width: 5px;
  border-top-style: solid;
  position: absolute;
  bottom: calc(50% - 6px);
  right: 0;
}

.sorting::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  position: absolute;
  top: calc(50% - 6px);
  right: 0;
}

.sorting_desc::after {
  border-top-color: #7A80DD;
}
.sorting_asc::before {
  border-bottom-color: #7A80DD;
}