<ng-container *ngIf="isInputTypeSupportedByBrowser">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.SELECT">
      <rib-select
        [validationStatus]="validationStatus"
        [displayConfig]="displayConfig"
        [value]="value"
        [class]="class"
        [classAppend]="classAppend"
        [form]="form">
      </rib-select>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.TEXTAREA">
      <rib-textarea 
        [class]="class"
        [value]="value"
        [classAppend]="classAppend"
        [validationStatus]="validationStatus"
        [displayConfig]="displayConfig"
        [form]="form">
      </rib-textarea>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.CHECKBOX">
      <rib-checkbox
        [class]="class"
        [value]="value"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [form]="form">
      </rib-checkbox>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.HIDDEN">
      <rib-hidden 
        [displayConfig]="displayConfig" 
        [value]="value" 
        [form]="form">
      </rib-hidden>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.COLOR">
      <rib-color 
        [displayConfig]="displayConfig" 
        [value]="value"
        [form]="form"></rib-color>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.RANGE">
      <rib-range 
        [displayConfig]="displayConfig" 
        [value]="value" 
        [validationStatus]="validationStatus"
        [form]="form">
      </rib-range>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.FILE">
      <rib-file
        [class]="class"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [form]="form"
        [value]="value">
      </rib-file>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.PHONE">
      <rib-phone
        [class]="class"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [value]="value"
        [form]="form">
      </rib-phone>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.PASSWORD">
      <rib-password
        [class]="class"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [value]="value"
        [form]="form">
      </rib-password>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.SEARCH">
      <rib-search
        [class]="class"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [value]="value"
        [form]="form">
      </rib-search>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.EMAIL">
      <rib-email
        [class]="class"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [value]="value"
        [form]="form">
      </rib-email>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.URL">
      <rib-url
        [class]="class"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [value]="value"
        [form]="form">
      </rib-url>
    </ng-container>
  
    <ng-container *ngSwitchCase="displayConfig.inputType === InputType.DATETIME || displayConfig.inputType === InputType.DATE || displayConfig.inputType === InputType.MONTH || displayConfig.inputType === InputType.WEEK || displayConfig.inputType === InputType.TIME">
      <rib-generic-input-placeholder
        [class]="class"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [value]="value"
        [form]="form">
      </rib-generic-input-placeholder>
    </ng-container>
  
    <ng-container *ngSwitchDefault>
      <rib-text
        [class]="class"
        [classAppend]="classAppend"
        [displayConfig]="displayConfig"
        [validationStatus]="validationStatus"
        [value]="value"
        [form]="form">
      </rib-text>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="!isInputTypeSupportedByBrowser">
  <rib-no-browser-support
    [class]="class"
    [classAppend]="classAppend"
    [displayConfig]="displayConfig"
    [validationStatus]="validationStatus"
    [value]="value"
    [form]="form">
  </rib-no-browser-support>
</ng-container>