<ng-container *ngIf="data.length > 0 && formControlWrapper">
  <form [formGroup]="entriesForm">
    <div #containerDiv>
      <hr>
      <div class="d-flex justify-content-between" style="row-gap: 8px">
        <div class="input-group flex-nowrap justify-content-start">
          <span class="input-group-text">Limit</span>
          <ngxp-select2-impl
            [displayConfig]="entriesForm.findDisplayConfig('entriesPerPage')"
            [value]="'10'"
            [form]="entriesForm">
          </ngxp-select2-impl>
        </div>
        <div class="input-group flex-nowrap justify-content-end">
          <input type="search" class="form-control search" style="max-width: 200px" formControlName="searchFilter" placeholder="Search" />
          <span class="input-group-text">
            <span class="fa fa-search"></span>
          </span>
          <button class="btn btn-primary btn-icon" (click)="toggleCreateModal()"><span class="fa fa-plus-white"></span></button>
        </div>
      </div>
      <table #table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 42px !important; min-width: 42px !important; max-width: 42px !important"></th>
            <ng-container *ngFor="let formControlName of formControlNames; trackBy:trackByIndex; let i = index">
              <th 
                [style.min-width]="calculateTextColumnWidthBase(formControlName)"
                [ngClass]="getInputType(formControlName).concat(' ', isText(getInputType(formControlName)) ? 'th-text' : '')" 
                *ngIf="i < formControlNames.length - removeFromEnd">
                {{ formControlName }}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody #tableBodyRef>
          <tr *ngFor="let item of filteredAndPaginatedArray; trackBy:trackByIndex; let i = index">
            <td style="position: relative; width: 42px !important; min-width: 42px !important; max-width: 42px !important">
              <span (click)="onClickMore(i)" [ngClass]="'btn-more fa '.concat(clickedIndex === i ? 'fa-minus-red' : 'fa-plus')" style="user-select: none; cursor: pointer; width: 20px; height: 20px; margin-top: 4px"></span>
              <div 
                class="more-btns-wrapper"
                [style.display]="clickedIndex === i ? 'flex' : 'none'"
                style="position: absolute; flex-direction: row; left: 40px; flex-wrap: nowrap; column-gap: 5px; top: calc(50% - 21px); padding: 7px; border-radius: 0.25rem; border: 1px solid white; background: lightgrey">
                <button (click)="toggleDetailsModal(item)" class="action btn btn-primary btn-sm"><span class="action fa fa-info-white"></span></button>
                <button (click)="toggleModal(item)" class="action btn btn-info btn-sm"><span class="action fa fa-edit"></span></button>
                <button (click)="toggleDeleteModal(item)" class="action btn btn-danger btn-sm"><span class="action fa fa-trash-white"></span></button>
              </div>
            </td>
            <ng-container *ngFor="let formControlName of formControlNames; trackBy:trackByIndex; let i = index">
              <td [ngClass]="isText(getInputType(formControlName)) ? 'td-text' : ''" *ngIf="i < formControlNames.length - removeFromEnd">
                <span *ngIf="item[formControlName] === null || item[formControlName] === undefined || item[formControlName] === '' || item[formControlName] === []" class="no-data">no data</span>
                <ng-container *ngIf="item[formControlName] !== null && item[formControlName] !== undefined && item[formControlName] !== '' && item[formControlName] !== []" [ngSwitch]="true">
                  <span [innerHTML]="getReadValue(formControlName, item[formControlName]) | safeHtml"></span>
                </ng-container>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div #container class="d-flex w-100 flex-wrap row-btns-container" style="row-gap: 8px; column-gap: 4px;">
        <span
          style="padding-top: 7px; white-space: nowrap;">
          {{ calculateShowingText }}
        </span>
  
        <div class="d-flex" style="column-gap: 2px; max-width: 100%; flex: 1; justify-content: flex-end">
          <button (click)="toBeginning()" class="btn btn-light btn-nav btn-icon"><span class="fa fa-angle-double-left"></span></button>
          <button (click)="toPrevious()" class="btn btn-light btn-nav btn-icon"><span class="fa fa-angle-left"></span></button>

          <div class="pagination-wrapper input-group w-auto flex-nowrap">
            <span class="input-group-text">Page</span>
            <ngxp-default-impl
              [displayConfig]="entriesForm.findDisplayConfig('currentPageNumber')"
              [value]="currentPageNumber"
              [form]="entriesForm">
            </ngxp-default-impl>
            <span class="input-group-text">of {{ totalNumberOfPages }}</span>
          </div>

          <button (click)="toNext()" class="btn btn-light btn-nav btn-icon"><span class="fa fa-angle-right"></span></button>
          <button (click)="toLast()" class="btn btn-light btn-nav btn-icon"><span class="fa fa-angle-double-right"></span></button>
        </div>

        <button (click)="doSave()" *ngIf="handleCrudInMemory" class="btn btn-success btn-icon save-btn">
          <span class="fa fa-save-white"></span>
          Save
        </button>
      </div>
    </div>
  </form>
  <hr>
</ng-container>

<ng-container *ngIf="data.length === 0 || !formControlWrapper">
  <span class="text-danger">No data for display</span>
</ng-container>

<!-- STAVITI IFOVE I GENERALIZIRATI MODALE -->
<div *ngIf="modalDisplay === 'block'" id="myModal" class="modal" [style.display]="modalDisplay" #modalRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="mb-0">{{ modalTitle }}</h5>
        <span (click)="closeModal()" style="margin-right: 8px; cursor: pointer" class="close">&times;</span>
      </div>
      <ngxp-form
        [form]="form"
        [fnSubmit]="onSubmitFn">
      </ngxp-form>
    </div>
  </div>
</div>

<div *ngIf="modalCreateDisplay === 'block'" id="modalCreate" class="modal" [style.display]="modalCreateDisplay" #modalCreateRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="mb-0">Create new</h5>
        <span (click)="closeCreateModal()" style="margin-right: 8px; cursor: pointer" class="close">&times;</span>
      </div>
      <ngxp-form
        [form]="form"
        [fnSubmit]="onSubmitCreateFn">
      </ngxp-form>
    </div>
  </div>
</div>

<div *ngIf="detailsModalDisplay === 'block'" id="detailsModal" class="modal" [style.display]="detailsModalDisplay" #detailsModalRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="mb-0">{{ detailsModalTitle }}</h5>
        <span (click)="closeDetailsModal()" style="margin-right: 8px; cursor: pointer" class="close">&times;</span>
      </div>
      <ngxp-dt-entry-details
        [formControlNames]="formControlNames"
        [displayConfigMap]="displayConfigsByFormControlName"
        [entry]="selectedEntry">
      </ngxp-dt-entry-details>
    </div>
  </div>
</div>

<div *ngIf="deleteModalDisplay === 'block'" id="deleteModal" class="modal" [style.display]="deleteModalDisplay" #deleteModalRef>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="mb-0">Warning</h5>
        <span (click)="closeDeleteModal()" style="margin-right: 8px; cursor: pointer" class="close">&times;</span>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ selectedEntry?.text }}?
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="deleteEntry()">Delete</button>
        <button class="btn btn-secondary" (click)="closeDeleteModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>