<ng-container *ngIf="data.length > 0 && formControlWrapper">
  <form [formGroup]="entriesForm">
    <div #containerDiv>
      <div [ngClass]="'actions-wrapper '.concat(actionsClassCalculated)" #actionsContainer>
        <div class="search-container" #actionsLeft>
          <div class="input-group limit-container">
            <span class="input-group-text">Limit</span>
            <ngxp-select2-impl
              [displayConfig]="entriesForm.findDisplayConfig('entriesPerPage')"
              [value]="'10'"
              [form]="entriesForm">
            </ngxp-select2-impl>
          </div>
          <button class="btn btn-primary btn-icon btn-create" (click)="openCreateModal()">
            <span class="fa fa-plus-white d-flex mt-0" style="margin-bottom: 2px"></span>
            <span>Create</span>
          </button>
        </div>
        <div class="search-container" #actionsRight>
          <div class="input-group flex-nowrap justify-content-end">
            <input type="search" class="form-control search" formControlName="searchFilter" placeholder="Search" />
            <span class="input-group-text">
              <span class="fa fa-search"></span>
            </span>
          </div>
        </div>
      </div>

      <table #table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 42px !important; min-width: 42px !important; max-width: 42px !important"></th>
            <ng-container *ngFor="let formControlName of formControlNames; trackBy:trackByIndex; let i = index">
              <th 
                (click)="onSortClick(formControlName)"
                [style.min-width]="calculateTextColumnWidthBase(formControlName)"
                [ngClass]="getInputType(formControlName).concat(' sorting', sortingFormControlName === formControlName ? ' sorting_'.concat(sortingType) : '', isText(getInputType(formControlName)) ? ' th-text' : '')" 
                *ngIf="i < formControlNames.length - removeFromEnd">
                {{ formControlName }}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody #tableBodyRef>
          <tr *ngFor="let item of filteredAndPaginatedArray; trackBy:trackByIndex; let i = index">
            <td style="position: relative; width: 42px !important; min-width: 42px !important; max-width: 42px !important">
              <span (click)="onClickMore(item)" [ngClass]="'btn-more fa '.concat(selectedEntry === item ? 'fa-minus-red' : 'fa-plus')" style="user-select: none; cursor: pointer; width: 20px; height: 20px; margin-top: 4px"></span>
              <div *ngIf="selectedEntry === item"
                class="more-btns-wrapper d-flex"
                style="position: absolute; flex-direction: row; left: 40px; flex-wrap: nowrap; column-gap: 5px; top: calc(50% - 21px); padding: 7px; border-radius: 0.25rem; border: 1px solid white; background: lightgrey">
                <button (click)="openDetailsModal()" class="btn btn-primary btn-sm"><span class="fa fa-info-white"></span></button>
                <button (click)="openUpdateModal()" class="btn btn-info btn-sm"><span class="fa fa-edit"></span></button>
                <button (click)="deleteModal.openModal()" class="btn btn-danger btn-sm"><span class="fa fa-trash-white"></span></button>
              </div>
            </td>
            <ng-container *ngFor="let formControlName of formControlNames; trackBy:trackByIndex; let i = index">
              <td [ngClass]="isText(getInputType(formControlName)) ? 'td-text' : ''" *ngIf="i < formControlNames.length - removeFromEnd">
                <span *ngIf="item[formControlName] === null || item[formControlName] === undefined || item[formControlName] === '' || item[formControlName] === []" class="no-data">no data</span>
                <ng-container *ngIf="item[formControlName] !== null && item[formControlName] !== undefined && item[formControlName] !== '' && item[formControlName] !== []" [ngSwitch]="true">
                  <span [innerHTML]="getReadValue(formControlName, item[formControlName]) | safeHtml"></span>
                </ng-container>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div #navContainer [ngClass]="'d-flex w-100 flex-wrap row-btns-container '.concat(navClassCalculated)" style="row-gap: 8px; column-gap: 4px;">
        <span #navLeft class="pt-2">
          {{ calculateShowingText }}
        </span>
  
        <div #navMiddle class="nav-btns-wrapper">
          <div class="d-flex">
            <button (click)="toBeginning()" class="btn btn-light btn-nav btn-icon"><span class="fa fa-angle-double-left"></span></button>
            <button (click)="toPrevious()" class="btn btn-light btn-nav btn-icon"><span class="fa fa-angle-left"></span></button>
          </div>

          <div class="pagination-wrapper input-group w-auto flex-nowrap">
            <span class="input-group-text">Page</span>
            <ngxp-default-impl
              [displayConfig]="entriesForm.findDisplayConfig('currentPageNumber')"
              [form]="entriesForm">
            </ngxp-default-impl>
            <span class="input-group-text">of {{ maxNumberOfPages }}</span>
          </div>

          <div class="d-flex">
            <button (click)="toNext()" class="btn btn-light btn-nav btn-icon"><span class="fa fa-angle-right"></span></button>
            <button (click)="toLast()" class="btn btn-light btn-nav btn-icon"><span class="fa fa-angle-double-right"></span></button>
          </div>
        </div>

        <button #navRight (click)="doSave()" [ngClass]="'btn btn-success btn-icon save-btn'.concat(changesMade ? '' : ' disabled')">
          <span class="fa fa-save-white"></span>
          Save
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="data.length === 0 || !formControlWrapper">
  <span class="text-danger">No data for display</span>
</ng-container>

<ngxp-modal #updateModal [modalTitle]="displayName">
  <ngxp-form
    [form]="form"
    [fnSubmit]="onUpdateSubmitFn">
  </ngxp-form>
</ngxp-modal>

<ngxp-modal #createModal [modalTitle]="createModalTitle">
  <ngxp-form
    [form]="form"
    [fnSubmit]="onCreateSubmitFn">
  </ngxp-form>
</ngxp-modal>

<ngxp-modal #detailsModal [modalTitle]="displayName">
  <ngxp-dt-entry-details
    [formControlNames]="formControlNames"
    [displayConfigMap]="displayConfigsByFormControlName"
    [entry]="selectedEntry">
  </ngxp-dt-entry-details>
</ngxp-modal>

<ngxp-modal #deleteModal [modalTitle]="deleteModalTitle">
  <div class="modal-body">
    <span>Are you sure you want to delete {{ displayName }}?</span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="deleteEntry()">Delete</button>
    <button class="btn btn-secondary" (click)="deleteModal.closeModal()">Cancel</button>
  </div>
</ngxp-modal>