<ng-select2
  [attr.id]="displayConfig.formControlName"
  [placeholder]="placeholderValue"
  (valueChanged)="baseValueChanged($event)"
  [formControlName]="displayConfig.formControlName"
  [allowClear]="!!displayConfig.select2Config?.allowClear"
  [width]="displayConfig.select2Config?.width || ''" 
  [data]="displayConfig.select2Config?.data"
  [dropdownParent]="!!displayConfig.select2Config?.dropdownParent ? String(displayConfig.select2Config?.dropdownParent) : ''"
  [value]="!!displayConfig.select2Config?.value ? displayConfig.select2Config.value : ''"
  [options]="displayConfig.select2Config || {}">
</ng-select2>