@import "~bootstrap/dist/css/bootstrap.css";
@import "./fontawesome/css/all.min.css";

$checkmark-url: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e";
$exclamation-url: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e";
$invalid-color: #dc3545;
$valid-color: #198754;

.title {
  font-weight: bold;
  &-xs {
    font-size: 1rem;
  }
  &-sm {
    font-size: 1.2rem;
  }
  &-md {
    font-size: 1.4rem;
  }
  &-lg {
    font-size: 1.6rem;
  }
  &-xl {
    font-size: 1.8rem;
  }
}

.feedback-invalid {
  color: $invalid-color;
}

.feedback-valid {
  color: $valid-color;
}

.border-invalid {
  box-shadow: 0px 0px 0px 1px $invalid-color;
  -webkit-box-shadow: 0px 0px 0px 1px $invalid-color;
  &:focus {
    border-color: $invalid-color;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
  }
}

.border-valid {
  box-shadow: 0px 0px 0px 1px $valid-color;
  -webkit-box-shadow: 0px 0px 0px 1px $valid-color;
  &:focus {
    border-color: $valid-color;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
  }
}

.input-valid {
  border-color: $valid-color !important;
  padding-right: calc(1.5em + .75rem) !important;
  background-image: url($checkmark-url) !important;
  background-repeat: no-repeat !important;
  background-position: right calc(.375em + .1875rem) center !important;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
  &:focus {
    border-color: $valid-color !important;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%) !important;
  }
}

.input-invalid {
  border-color: $invalid-color !important;
  padding-right: calc(1.5em + .75rem) !important;
  background-image: url($exclamation-url) !important;
  background-repeat: no-repeat !important;
  background-position: right calc(.375em + .1875rem) center !important;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
  &:focus {
    border-color: $invalid-color !important;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%) !important;
  }
}

.select2-container--default .select2-selection--multiple.input-invalid,
.select2-container--default .select2-selection--multiple.input-invalid {
  padding-right: 0 !important;
}

.select2-container--default .select2-selection--multiple {
  min-height: 38px !important;
  border: 1px solid #ced4da;
  padding-bottom: 0 !important;
}

.select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
  font-family: var(--bs-font-sans-serif) !important;
  color: #999 !important;
}


.input-valid .select2-selection__arrow,
.input-invalid .select2-selection__arrow {
  right: 40px;
}

.select2-selection--multiple .select2-search__field {
  padding-top: 2px !important;
  padding-left: 8px !important;
  height: 24px !important;
  font: inherit;
}

.input-invalid > .select2-selection__clear,
.input-valid > .select2-selection__clear {
  margin-right: 30px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  padding: 1px 5px 1px 1px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px !important;
  right: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999 !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
}

.select2-container .select2-selection.input-invalid {
  border-color: $invalid-color !important;
}

.select2-container .select2-selection.input-valid {
  border-color: $valid-color !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
  display: flex !important;
  align-content: center !important;
  flex-wrap: nowrap !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 12px !important;
}

.select2-selection__rendered {
  width: 100% !important;
}