<div *ngIf="displayConfig.inputType !== InputType.INPUT_HIDDEN" [ngClass]="rowWrapperClass">
  <label [ngClass]="labelClass">{{ displayConfig.label }}</label>
  <div [ngClass]="inputWrapperClass">
    <ngxp-generic-input-group
      [validationStatus]="validationStatus"
      [displayConfig]="displayConfig"
      [errorMessages]="errorMessages"
      [form]="form"
      [value]="value">
    </ngxp-generic-input-group>
  </div>
</div>

<ng-container *ngIf="displayConfig.inputType === InputType.INPUT_HIDDEN">
  <ngxp-generic-input
    [displayConfig]="displayConfig"
    [form]="form"
    [value]="value">
  </ngxp-generic-input>
</ng-container>