<div [ngClass]="inputGroupClass.concat(displayConfig.inputType === InputType.SELECT ? ' d-block' : '')">
  <ngxp-generic-input
    [displayConfig]="displayConfig"
    [validationStatus]="validationStatus"
    [classAppend]="classAppend"
    [value]="value"
    [form]="form">
  </ngxp-generic-input>
</div>

<ng-container *ngIf="validationStatus === ValidationStatus.INVALID">
  <ng-container *ngFor="let errorMessage of errorMessages; let i = index">
    <span class="feedback-invalid">
      <span class="fa fa-error"></span>&nbsp;{{ errorMessage }}
    </span>
    <br *ngIf="i < errorMessages.length - 1" />
  </ng-container>
</ng-container>