<div [ngClass]="inputGroupClass.concat(type === InputType.SELECT_MULTIPLE || type === InputType.SELECT_SINGLE ? ' d-block' : '')">
  <ngxp-generic-input
    [type]="type === InputType.INPUT_PASSWORD ? (passwordShown ? InputType.INPUT_TEXT : InputType.INPUT_PASSWORD) : type"
    [validationStatus]="validationStatus"
    [formControlName]="formControlName"
    [classAppend]="classAppend"
    [placeholder]="placeholder"
    [select2Data]="select2Data"
    [value]="value">
  </ngxp-generic-input>
  <span
    *ngIf="type === InputType.INPUT_PASSWORD"  
    (click)="passwordShown = !passwordShown" 
    class="input-group-text user-select-none password">
    <i [ngClass]="'fa '.concat(passwordShown ? 'fa-slash-eye' : 'fa-eye')"></i>
  </span>
</div>

<ng-container *ngIf="validationStatus === ValidationStatus.INVALID">
  <span class="feedback-invalid" *ngFor="let errorMessage of errorMessages">
    {{ errorMessage }}
  </span>
</ng-container>