<div [ngClass]="inputGroupClass.concat(displayConfig.inputType === InputType.SELECT ? ' d-block' : '')">
  <ngxp-generic-input
    [displayConfig]="displayConfig"
    [validationStatus]="validationStatus"
    [classAppend]="displayConfig.inputType === InputType.INPUT_PASSWORD || isPassword ? 'position-relative' : ''"
    [value]="value"
    [form]="form">
  </ngxp-generic-input>
  <span
    *ngIf="displayConfig.inputType === InputType.INPUT_PASSWORD || isPassword"  
    (click)="onPasswordShowClick()" 
    class="input-group-text user-select-none password">
    <i [ngClass]="'fa '.concat(passwordShown ? 'fa-slash-eye' : 'fa-eye')"></i>
  </span>
</div>

<ng-container *ngIf="validationStatus === ValidationStatus.INVALID">
  <ng-container *ngFor="let errorMessage of errorMessages; let i = index">
    <span class="feedback-invalid">
      {{ errorMessage }}
    </span>
    <br *ngIf="i < errorMessages.length - 1" />
  </ng-container>
</ng-container>