<div #rangeContainerWrapper [ngClass]="defaultClassWrapper">
  <div class="col-md-2 col-sm-12 text-nowrap d-flex align-items-center justify-content-center justify-content-md-start">
    <span 
      [attr.title]="displayConfig.min" 
      class="badge bg-secondary text-ellipsis title-mobile" 
      style="line-height: 1.3">
      {{ displayConfig.min }}&nbsp;&gt;
    </span>
  </div>
  <div #rangeSelectorDivWrapper class="col-md-8 col-sm-12">
    <div class="d-flex justify-content-between">
      <input
        class='w-100'
        [min]="displayConfig.min"
        [max]="displayConfig.max"
        (mousemove)="mousemove($event)"
        (mousedown)="mousedown($event)"
        (mouseup)="mouseup($event)"
        [formControlName]="displayConfig.formControlName"
        type="range"
      />
      <span class="text-nowrap badge bg-primary ms-2" style="line-height: 1.3">{{ value }}</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-12 text-md-end text-center text-nowrap d-flex align-items-center justify-content-center justify-content-md-end">
    <span 
      [attr.title]="displayConfig.max" 
      class="badge bg-secondary text-ellipsis title-mobile" 
      style="line-height: 1.3">
      &lt;&nbsp;{{ displayConfig.max }}
    </span>
  </div>
</div>