@import "../../../node_modules/bootstrap/dist/css/bootstrap";
@import "./icons";
@import "./colors";

$box-shadow-success-focus: 0 0 0 0.25rem rgb(25 135 84 / 25%);
$box-shadow-danger-focus: 0 0 0 0.25rem rgb(220 53 69 / 25%);
$box-shadow-success: 0px 0px 0px 1px $color-success;
$box-shadow-danger: 0px 0px 0px 1px $color-danger;

.btn-icon > .fa {
  margin-top: 3px
}

.box {
  flex: 1 1;
}

.header-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0 !important;
}

.input-icon-wrapper {
  display: flex;
  position: relative;
}

.input-icon-wrapper input {
  padding-right: 46px;
}

.input-icon-wrapper .input-validation {
  padding-right: 70px !important;
}

.password {
  cursor: pointer;
  user-select: none;
}

.input-validation + .input-icon {
  right: 22px
}

.input-icon {
  width: 40px;
  height: 38px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 16px 8px 8px;
}

::placeholder {
  color: $color-placeholder !important;
}

input:not([type='range']):not(.search-input):hover,
.select2-selection:hover,
textarea:hover,
.range-wrapper:hover,
.selection-wrapper:hover {
  box-shadow: #06182c66 0 0 0 1px, #06182ca6 0 4px 6px -3px, #ffffff14 0 1px inset;
}

.footer-btns-container {
  display: flex; 
  justify-content: flex-end;
  padding: 0.25rem 1rem 1rem 1rem;
}

.footer-btn-reset {
  margin-right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.footer-btn-submit {
  margin-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center
}

@media (max-width: 576px) {
  .footer-btns-container {
    display: flex; 
    flex-direction: column-reverse;
  }

  .footer-btn-reset {
    margin-right: 0;
    margin-top: 0.75rem;
  }

  .footer-btn-submit {
    margin-left: 0;
  }
}

.range-wrapper {
  margin: 0 !important;
  border: 1px solid $color-input-border;
  border-radius: 0.25rem;
  padding: 7px 0;
  min-height: 38px;
}

.text-ellipsis {
  text-overflow: ellipsis; 
  overflow: hidden
}

.title-mobile {
  border-bottom: 1px dotted;
  position: relative !important;
  user-select: none;
}

.title-box {
  background: silver;
  border-radius: 0.25rem;
  font-size: 2.2em;
  white-space: nowrap;
  position: absolute;
  padding: 4px;
  bottom: 46px;
  left: 0;
}

.checkbox {
  border-radius: 0.25em;
  height: 34px;
  width: 34px;
  margin-top: 2px;
}

.feedback-invalid { color: $color-danger }
.feedback-valid { color: $color-success }

.border-valid { border: 1px solid $color-success !important }
.border-invalid { border: 1px solid $color-danger !important }

.focus-valid:focus { border-color: $color-success }
.focus-invalid:focus { border-color: $color-danger }

.shadow-invalid {
  box-shadow: $box-shadow-danger;
  -webkit-box-shadow: $box-shadow-danger;
  &:focus {
    box-shadow: $box-shadow-danger-focus;
  }
}

.shadow-valid {
  box-shadow: $box-shadow-success;
  -webkit-box-shadow: $box-shadow-success;
  &:focus {
    box-shadow: $box-shadow-success-focus;
  }
}

.input-validation {
  padding-right: calc(1.5em + .75rem);
  background-repeat: no-repeat !important;
  background-position: right calc(.375em + .1875rem) center !important;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
  &-valid {
    background-image: $icon-checkmark !important;
    border-color: $color-success !important;
    &:focus { 
      box-shadow: $box-shadow-success-focus !important;
    }
  }
  &-invalid {
    background-image: $icon-exclamation !important;
    border-color: $color-danger !important;
    &:focus { 
      box-shadow: $box-shadow-danger-focus !important;
    }
  }
}

.toast-list-wrapper {
  position: fixed;
  display: flex;
  top: 1.5rem;
  right: 1.5rem;
  margin-left: 1.5rem;
  flex-direction: column;
  z-index: 9999;
  row-gap: 0.75rem;
}

@-webkit-keyframes animateToastIn { from {transform: translateX(100%) } to {transform: translateX(0) } }
@keyframes animateToastIn { from {transform: translateX(100%) } to {transform: translateX(0) } }

@-webkit-keyframes animateToastLoading { from {width: 0} to {width: calc(100% - 6px)} }
@keyframes animateToastLoading { from {width: 0} to {width: calc(100% - 6px)} }

/*.toast-wrapper{
  position: relative;
  display: inline-block;
}*/

.fade-out {
  opacity: 0;
  transition: all 0.2s ease-out;
}

.toast-wrapper:before {
  content: "";
  height: 3px;
  background: $color-primary;
  position: absolute;
  left: 3px;
  bottom: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.toast-wrapper > *:first-child {
  padding-right: 1.8rem
}

.toast-span-close {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 0.55em 0.9em;
  cursor: pointer;
}

.toast-wrapper-loading:before {
  -webkit-animation-name: animateToastLoading;
  -webkit-animation-duration: 6s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-name: animateToastLoading;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.toast-wrapper:hover::before {
  animation: step-end;
}

.toast-wrapper {
  max-width: 40vw;
  padding: .7rem .7rem .7rem 3.8rem;
  box-shadow: 0 2px 5px #00000042;
  border-radius: .65rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.9rem;
  margin-left: auto;
  width: fit-content;
  
  -webkit-animation-name: animateToastIn;
  -webkit-animation-duration: 0.34s;
  -webkit-animation-fill-mode: forwards;
  animation-name: animateToastIn;
  animation-duration: 0.34s;
  animation-fill-mode: forwards;

  &::after {
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    content: '';
    position: absolute;
    top: calc(50% - 12px);
    left: 1rem;
  }
  & > h5 {
    font-weight: bold;
  }
  & > * {
    color: white;
    margin: 0
  }
  &-danger {
    background-color: $color-danger;
    &::after {
      background-image: $icon-exclamation-white
    }
  }
  &-success {
    background-color: $color-success;
    &::after {
      background-image: $icon-checkmark-white
    }
  }
  &-info {
    background-color: $color-info;
    &::after {
      background-image: $icon-info-circle-white
    }
  }
  &-warning {
    background-color: $color-warning;
    &::after {
      background-image: $icon-exclamation-circle-white
    }
  }
  &-default {
    background-color: $color-secondary;
    &::after {
      background-image: $icon-info-circle-white
    }
  }
}

@media screen and (max-width: 600px) {
  .toast-wrapper {
    max-width: 100vw
  }
}