@import "./../../vendor/bootstrap/css/bootstrap.css";
@import "./icons";
@import "./colors";
@import "./../../vendor/select2/scss/select2-custom";

$box-shadow-success-focus: 0 0 0 0.25rem rgb(25 135 84 / 25%);
$box-shadow-danger-focus: 0 0 0 0.25rem rgb(220 53 69 / 25%);
$box-shadow-success: 0px 0px 0px 1px $color-success;
$box-shadow-danger: 0px 0px 0px 1px $color-danger;

.box {
  min-width: 30%;
  flex: 1 1 auto;
}

.header-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0 !important;
}

.input-icon-wrapper {
  display: flex;
  position: relative;
}

.input-icon-wrapper input {
  padding-right: 46px;
}

.input-icon-wrapper .input-validation {
  padding-right: 70px !important;
}

.password {
  cursor: pointer;
  user-select: none;
}

.input-validation + .input-icon {
  right: 22px
}

.input-icon {
  width: 40px;
  height: 38px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 16px 8px 8px;
}

::placeholder {
  color: $color-placeholder !important;
}

input:not([type='range']):hover,
.select2-selection:hover,
textarea:hover,
.range-wrapper:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.footer-btns-container {
  display: flex; 
  justify-content: flex-end;
  padding: 0.25rem 1rem 1rem 1rem;
}

.footer-btn-reset {
  margin-right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.footer-btn-submit {
  margin-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center
}

@media (max-width: 576px) {
  .footer-btns-container {
    display: flex; 
    flex-direction: column-reverse;
  }

  .footer-btn-reset {
    margin-right: 0;
    margin-top: 0.75rem;
  }

  .footer-btn-submit {
    margin-left: 0;
  }
}

.range-wrapper {
  margin: 0 !important;
  border: 1px solid $color-input-border;
  border-radius: 0.25rem;
  padding: 7px 0;
  min-height: 38px;
}

.text-ellipsis {
  text-overflow: ellipsis; 
  overflow: hidden
}

.title-mobile {
  border-bottom: 1px dotted;
  position: relative !important;
  user-select: none;
}

.title-box {
  background: silver;
  border-radius: 0.25rem;
  font-size: 2.2em;
  white-space: nowrap;
  position: absolute;
  padding: 4px;
  bottom: 46px;
  left: 0;
}

.checkbox {
  border-radius: 0.25em;
  height: 34px;
  width: 34px;
  margin-top: 2px;
}

/*input::-webkit-datetime-edit {
  color: $color-placeholder;
}*/

.feedback-invalid { color: $color-danger }
.feedback-valid { color: $color-success }

.border-valid { border: 1px solid $color-success !important }
.border-invalid { border: 1px solid $color-danger !important }

.focus-valid:focus { border-color: $color-success }
.focus-invalid:focus { border-color: $color-danger }

.shadow-invalid {
  box-shadow: $box-shadow-danger;
  -webkit-box-shadow: $box-shadow-danger;
  &:focus {
    box-shadow: $box-shadow-danger-focus;
  }
}

.shadow-valid {
  box-shadow: $box-shadow-success;
  -webkit-box-shadow: $box-shadow-success;
  &:focus {
    box-shadow: $box-shadow-success-focus;
  }
}

.input-validation {
  padding-right: calc(1.5em + .75rem);
  background-repeat: no-repeat !important;
  background-position: right calc(.375em + .1875rem) center !important;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
  &-valid {
    background-image: $icon-checkmark !important;
    border-color: $color-success !important;
    &:focus { 
      box-shadow: $box-shadow-success-focus !important;
    }
  }
  &-invalid {
    background-image: $icon-exclamation !important;
    border-color: $color-danger !important;
    &:focus { 
      box-shadow: $box-shadow-danger-focus !important;
    }
  }
}

